{% extends "base.html" %}

{% block content %}

<!-- REMOVED THE URL ATTRIBUTES.
BECAUSE THE FORM IS INTELLIGENT ENOUGH TO DETERMINE WHICH ACTION IS GOING TO PERFORM ADD/UPDATE

<form action="{% url 'notes.new' %}" method="post"> -->
<form method="post">

    <!-- Cross-Site Request Forgery -->
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="btn btn-primary my-5">Submit</button>

</form>

{% if form.errors %}
<div class="alert alert-danger my-5">
    {{form.errors.title.as_text}}
</div>
{% endif %}

<a href="{% url 'notes.list' %}" class="btn btn-secondary my-5">cancel</a>

{% endblock %}